growing-depth/v1/** -text whitespace=cr-at-eol
README.md whitespace=cr-at-eol
all-even-ge2/v1/** -text whitespace=cr-at-eol
all-even-ge2/v1/lean/source/** whitespace=-blank-at-eof,cr-at-eol
fixed-k23/v1/** -text whitespace=cr-at-eol
fixed-k23/v1/source/** whitespace=-blank-at-eof,cr-at-eol
q24-variable-window/v1/** -text whitespace=cr-at-eol
q24-variable-window/v1/source/** whitespace=-blank-at-eof,cr-at-eol
fixed-k25/v1/** -text whitespace=cr-at-eol
fixed-k25/v1/source/** -text whitespace=-blank-at-eof,cr-at-eol
fixed-k47/v1/** -text whitespace=cr-at-eol
fixed-k47/v1/source/** -text whitespace=-blank-at-eof,cr-at-eol
